<div class="col-md-10 content">
  <div  class="col-md-5 ">
    <button type="button"  type="button" class="btn btn-primary" data-toggle="modal" data-target="#createEmployee"  >Add Employee</button>
    <button type="button"  type="button" class="btn btn-primary"  (click)="importCsvEmployee()"  >Export</button>
  </div>

  <div  class="col-md-5 ">
    <form class="navbar-form navbar-left" method="GET" role="search">
      <div class="form-group">
        <input type="text" name="q" class="form-control" placeholder="Search" [(ngModel)]="search" >
      </div>

      <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
    </form>
  </div>



  <!-- Modal create Employee -->
      <div class="modal fade" id="createEmployee" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Add Employee</h4>
            </div>
            <div class="modal-body">
              <form action="" class="form-horizontal" #employeeForm='ngForm' (ngSubmit)="employeeInfo(employeeForm.value)" >
                <fieldset>
                  <!-- Name -->
                  <div class="col-md-12 content">
                    <div class="col-md-6 form-group col-md-offset-2">
                        <div class="control-group">
                          <label class="control-label"  for="firts_name">Firts Name</label>
                          <div class="controls">
                            <input type="text" id="firts_name" #firtsnameRef="ngModel" minlength="4" required name="firts_name" placeholder="" class="input-xlarge" ngModel>
                            <div *ngIf="firtsnameRef.errors && (firtsnameRef.dirty || firtsnameRef.touched ) "  class="alert alert-danger">
                                   <div [hidden]="!firtsnameRef.errors.required" >
                                      Please enter a Name.
                                  </div>
                                  <div [hidden]="!firtsnameRef.errors.minlength" >
                                      Please enter atleast 4 characters.
                                  </div>
                            </div>

                          </div>
                        </div>
                        <div class="control-group">
                          <label class="control-label"  for="last_name">Last name</label>
                          <div class="controls">
                            <input type="text" id="last_name" #lastnameRef="ngModel" name="last_name" required  placeholder="" class="input-xlarge" ngModel>
                             <div [hidden]="lastnameRef.valid || lastnameRef.pristine" class="alert alert-danger">
                                Please enter a Last name.
                            </div>
                          </div>
                        </div>
                        <div class="control-group">
                          <label class="control-label"  for="restaurant">Restaurant / Store </label>
                          <div class="controls">
                            <!--input type="text" id="password" #passwordRef="ngModel" name="password" required  placeholder="" class="input-xlarge" ngModel-->
                            <select #restaurantdRef="ngModel" name="restaurant" name="restaurant" required ngModel  >
                               <option *ngFor="let item of restaurant | async" value="{{item.store}}">{{item.store}}</option>

                            </select>

                          </div>
                        </div>
                        <div class="control-group">
                          <label class="control-label"  for="social_security_number">Social Security Number</label>
                          <div class="controls">
                            <input type="text" id="social_security_number" #securityNumberRef="ngModel" name="social_security_number" required placeholder="" class="input-xlarge" ngModel>
                             <div [hidden]="securityNumberRef.valid || securityNumberRef.pristine" class="alert alert-danger">
                                Please enter a Social Security Number.
                            </div>
                          </div>
                        </div>
                        <div class="control-group">
                          <label class="control-label"  for="ssn">SSN</label>
                          <div class="controls">
                            <input type="text" id="phone" #ssnRef="ngModel" name="ssn" required placeholder="" class="input-xlarge" ngModel>
                             <div [hidden]="ssnRef.valid || ssnRef.pristine" class="alert alert-danger">
                                Please enter a SSN.
                            </div>
                          </div>
                        </div>
                        <div class="control-group">
                          <label class="control-label"  for="phone">Phone</label>
                          <div class="controls">
                            <input type="text" id="phone" #phoneRef="ngModel" name="phone" required placeholder="" class="input-xlarge" ngModel>
                             <div [hidden]="phoneRef.valid || phoneRef.pristine" class="alert alert-danger">
                                Please enter a  Phone Number.
                            </div>
                          </div>
                        </div>
                        <div class="control-group">
                          <label class="control-label"  for="email">Email</label>
                          <div class="controls">
                            <input type="text" id="email" #emailRef="ngModel" name="email" required placeholder="" class="input-xlarge" ngModel>
                            <div [hidden]="emailRef.valid || emailRef.pristine" class="alert alert-danger">
                              Please enter a  Email.
                            </div>
                          </div>
                        </div>
                        <div class="control-group">
                          <label class="control-label"  for="birth_day">Date of Birth</label>
                          <div class="controls">
                            <input type="text" id="birth_day" #birthDayRef="ngModel" name="birth_day" required placeholder="" class="input-xlarge" ngModel>
                             <div [hidden]="birthDayRef.valid || birthDayRef.pristine" class="alert alert-danger">
                                Please enter a Date of Birth.
                            </div>
                          </div>
                        </div>
                        <div class="control-group">
                          <label class="control-label"  for="race">Race</label>
                          <div class="controls">
                            <!--input type="text" id="race" #raceRef="ngModel" name="race" required placeholder="" class="input-xlarge" ngModel-->
                            <select #raceRef="ngModel" name="race"  required ngModel>
                              <option *ngFor="let item of race | async" value="{{item.race_name}}">{{item.race_name}}</option>
                            </select>
                             <div [hidden]="raceRef.valid || raceRef.pristine" class="alert alert-danger">
                                Please enter a Race.
                            </div>
                          </div>
                        </div>
                        <div class="control-group">
                          <label class="control-label"  for="city">CIty</label>
                          <div class="controls">
                            <input type="text" id="city" #cityRef="ngModel" name="city" required placeholder="" class="input-xlarge" ngModel>
                            <div [hidden]="cityRef.valid || cityRef.pristine" class="alert alert-danger">
                              Please enter a  City.
                            </div>
                          </div>
                        </div>
                        <div class="control-group">
                          <label class="control-label"  for="address">Address</label>
                          <div class="controls">
                            <input type="text" id="address" #addressRef="ngModel" name="address" required placeholder="" class="input-xlarge" ngModel>
                            <div [hidden]="addressRef.valid || addressRef.pristine" class="alert alert-danger">
                              Please enter a  Address.
                            </div>
                          </div>
                        </div>
                    </div>
                    <div class="col-xs-6 form-group">
                        <div class="control-group">
                          <label class="control-label"  for="gender">Gender</label>
                          <div class="controls">
                            <!--input type="text" id="phone" #cellphoneRef="ngModel" name="cellphone" required placeholder="" class="input-xlarge" ngModel-->
                            <select #genderRef="ngModel"  name="gender" required ngModel>
                               <option value="1">M</option>
                               <option value="2">F</option>
                            </select>
                             <div [hidden]="genderRef.valid || genderRef.pristine" class="alert alert-danger">
                                Please select a Gender.
                            </div>
                          </div>
                        </div>
                        <div class="control-group">
                          <label class="control-label"  for="phone">Dependant Medical Coverage</label>
                          <div class="controls">
                            <!--input type="text" id="phone" #medicalCoverageRef="ngModel" name="cellphone" required placeholder="" class="input-xlarge" ngModel-->
                            <select #medicalCoverageRef="ngModel" name="medical_coverage" name="medical_coverage" required ngModel>
                               <option value="1">Yes</option>
                               <option value="2">No</option>
                            </select>
                             <div [hidden]="medicalCoverageRef.valid || medicalCoverageRef.pristine" class="alert alert-danger">
                                Please select a Dependant Medical Coverage.
                            </div>
                          </div>
                        </div>
                        <div class="control-group">
                          <label class="control-label"  for="pay_frecuency">Pay Frequency</label>
                          <div class="controls">
                            <!--input type="text" id="pay_frecuency" #payFrecuencyRef="ngModel" name="pay_frecuency" required placeholder="" class="input-xlarge" ngModel-->
                            <select #payFrecuencyRef="ngModel" name="pay_frecuency"  required ngModel>
                              <option selected="selected" *ngFor="let item of payFrecuency | async" value="{{item.payment_name}}">{{item.payment_name}}</option>
                            </select>
                             <div [hidden]="payFrecuencyRef.valid || payFrecuencyRef.pristine" class="alert alert-danger">
                                Please enter a Pay Frequency.
                            </div>
                          </div>
                        </div>
                        <div class="control-group">
                          <label class="control-label"  for="status">Relationship Status</label>
                          <div class="controls">
                            <!--input type="text" id="phone" #cellphoneRef="ngModel" name="cellphone" required placeholder="" class="input-xlarge" ngModel-->
                            <select  #relationShipStatusRef="ngModel" name="relationship_status" required ngModel>
                              <option value="1">Single</option>
                              <option value="2">Married</option>
                              <option value="3">Divorced</option>
                            </select>
                               <div [hidden]="relationShipStatusRef.valid || relationShipStatusRef.pristine" class="alert alert-danger">
                                Please enter a Relationship Status.
                            </div>
                          </div>
                        </div>
                      <div class="control-group">
                        <label class="control-label"  for="employee_status">Employee Status</label>
                        <div class="controls">
                          <!--input type="text" id="phone" #cellphoneRef="ngModel" name="cellphone" required placeholder="" class="input-xlarge" ngModel-->
                          <select  #employeeStatusRef="ngModel" name="employee_status" required ngModel>
                            <option value="1">Active</option>
                            <option value="2">Inactive</option>
                            <option value="3">Other</option>
                          </select>
                          <div [hidden]="employeeStatusRef.valid || employeeStatusRef.pristine" class="alert alert-danger">
                            Please enter a Employee Status.
                          </div>
                        </div>
                      </div>
                        <div class="control-group">
                          <label class="control-label"  for="status">Rol</label>
                          <div class="controls">
                            <!--input type="text" id="phone" #cellphoneRef="ngModel" name="cellphone" required placeholder="" class="input-xlarge" ngModel-->
                            <select  #statusRef="ngModel" name="rol" required   ngModel>
                              <option *ngFor="let item of rol | async" value="{{item.rol_name}}">{{item.rol_name}}</option>
                            </select>
                            <!--div [hidden]="statusRef.valid || statusRef.pristine" class="alert alert-danger">
                              Please enter a Status.
                            </div-->
                          </div>
                        </div>
                        <div class="control-group">
                          <label class="control-label"  for="allowances">Number of Allowances</label>
                          <div class="controls">
                            <input type="number" id="allowances" #allowancesRef="ngModel" name="number_allowances" required placeholder="" class="input-xlarge" ngModel>

                             <div [hidden]="allowancesRef.valid || allowancesRef.pristine" class="alert alert-danger">
                                Please enter Number of Allowances.
                            </div>
                          </div>
                        </div>
                        <div class="control-group">
                          <label class="control-label"  for="withheld">Addiotional withheld</label>
                          <div class="controls">
                            <input type="text" id="withheld" #withheldRef="ngModel" name="withheld" required placeholder="" class="input-xlarge" ngModel>

                             <div [hidden]="withheldRef.valid || withheldRef.pristine" class="alert alert-danger">
                                Please enter a Addiotional withheld.
                            </div>
                          </div>
                        </div>
                        <div class="control-group">
                          <label class="control-label"  for="source_hire">Source of Hire</label>
                          <div class="controls">
                            <!--input type="text" id="source_hire" #sourceHireRef="ngModel" name="source_hire" required placeholder="" class="input-xlarge" ngModel-->
                            <select #sourceHireRef="ngModel" name="source_hire"  required ngModel>
                              <option selected="selected" *ngFor="let item of sourceHire | async" value="{{item.source_name}}">{{item.source_name}}</option>
                            </select>

                             <div [hidden]="sourceHireRef.valid || sourceHireRef.pristine" class="alert alert-danger">
                                Please enter a Source of Hire.
                            </div>
                          </div>
                        </div>
                        <div class="control-group">
                          <label class="control-label"  for="star_work">Start work</label>
                          <div class="controls">
                            <input type="date" id="star_work" #starWorkRef="ngModel" name="start_work" required placeholder="" class="input-xlarge" ngModel>

                            <div [hidden]="starWorkRef.valid || starWorkRef.pristine" class="alert alert-danger">
                              Please enter a Valid Date.
                            </div>
                          </div>
                        </div>
                        <div class="control-group">
                          <label class="control-label"  for="finis_work">Finish work</label>
                          <div class="controls">
                            <input type="date" id="finis_work" #finishWorkRef="ngModel" name="finish_work" required placeholder="" class="input-xlarge" ngModel>

                            <div [hidden]="finishWorkRef.valid || finishWorkRef.pristine" class="alert alert-danger">
                              Please enter a Valid Date.
                            </div>
                          </div>
                        </div>
                        <div class="control-group">
                          <label class="control-label"  for="job_position">Job Position</label>
                          <div class="controls">
                            <!--input type="text" id="source_hire" #sourceHireRef="ngModel" name="source_hire" required placeholder="" class="input-xlarge" ngModel-->
                            <select #jobPositionRef="ngModel" name="job_position"  required ngModel>
                              <option selected="selected" *ngFor="let item of sourceHire | async" value="{{item.job_name}}">{{item.job_name}}</option>
                            </select>

                            <div [hidden]="jobPositionRef.valid || jobPositionRef.pristine" class="alert alert-danger">
                              Please enter a Source of Hire.
                            </div>
                          </div>
                        </div>

                        <div class="control-group">
                          <label class="control-label"  for="salary">Salary</label>
                          <div class="controls">
                            <input type="text" id="salary" #salaryRef="ngModel" name="salary" required placeholder="" class="input-xlarge"  ngModel>

                            <div [hidden]="salaryRef.valid || salaryRef.pristine" class="alert alert-danger">
                              Please enter a Salary.
                            </div>
                          </div>
                        </div>
                      <div class="control-group">

                          <div class="controls" style="padding-top: 10px;">
                              <button type="submit" [disabled]="!employeeForm.valid" class="btn btn-primary">Save changes</button>
                          </div>
                        </div>
                    </div>
                  </div>

                </fieldset>

              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default"    data-dismiss="modal">Close</button>

            </div>
          </div>
        </div>
      </div>
  <!-- ./ -->
<div class="col-md-12">
  <div class="table-responsive">
    <table class="table">
      <thead>
      <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Restaurant /Store</th>
        <th>Ssn</th>
        <th>Phone</th>
        <th>Date of birth</th>
        <th>Race</th>
        <th>Gender</th>
        <th>Dependant medical coverage</th>
        <th>Pay frecuency</th>
        <th>Relationship Status</th>
        <th>Employee Status</th>
        <th>Number of allowances</th>
        <th>Additional witheld</th>
        <th>Source of hire</th>
        <th>Rol</th>
        <th>Edit</th>

      </tr>
      </thead>
      <tbody>
      <tr  *ngFor="let item of employee | async | employeeSearch: search"   id="">
        <td>{{item.firts_name}}</td>
        <td>{{item.last_name}}</td>
        <td>{{item.restaurant}}
        </td>
        <td>{{item.ssn}}</td>
        <td>{{item.phone}}</td>
        <td>{{item.birth_day}}</td>
        <td>{{item.race}}</td>
        <td >
          <div [ngSwitch]="item.gender">
            <p *ngSwitchCase="1">Men</p>
            <p *ngSwitchCase="2">Women</p>
          </div>
        </td>
        <td>
          <div [ngSwitch]="item.medical_coverage">
            <p class="label label-success" *ngSwitchCase="1">Si</p>
            <p class="label label-danger" *ngSwitchCase="2">No</p>
          </div>
        </td>
        <td>{{item.pay_frecuency}}</td>
        <td>
          <div [ngSwitch]="item.relationship_status">
            <p class="label label-success" *ngSwitchCase="1">Single</p>
            <p *ngSwitchCase="2">Married</p>
            <p *ngSwitchCase="3">Divorced</p>
          </div>
        </td>
        <td>
          <div [ngSwitch]="item.employee_status">
            <p class="label label-success" *ngSwitchCase="1">Active</p>
            <p class="label label-danger"*ngSwitchCase="2">Disable</p>
            <p *ngSwitchCase="3">Other</p>
          </div>
        </td>
        <td>{{item.number_allowances}}</td>
        <td>{{item.withheld}}</td>
        <td>{{item.source_hire}}</td>
        <td><p class="label label-success">{{item.rol}}<p></td>
        <td>
          <div class="dropdown" dropdown>
              <button  (click)="editEmployee(item.$key)" class="btn btn-primary" data-toggle="modal" data-target="" dropdown-open>Edit</button>
              <ul class="dropdown-menu">
                <li><a  data-toggle="modal" data-target="#editEmployee">Edit Personal Data</a></li>
                <li><a  data-toggle="modal" data-target="" (click)="openModal('1')">Edit Addministrative data </a></li>
                <li><a  data-toggle="modal" data-target="" (click)="openModal('2')">Add Absence</a></li>
                <li><a  data-toggle="modal" data-target=""  (click)="openModal('3')" >Add Termination</a></li>
              </ul>
          </div>

        </td>


      </tr>
      </tbody>
    </table>
  </div>
</div>



  <!-- Modal Edit Personal data Employee -->
  <div class="modal fade" id="editEmployee" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Edit Employee</h4>
        </div>
        <div class="modal-body">
          <form action="" class="form-horizontal" #employeeUpdate='ngForm' (ngSubmit)="updateEmployee(employeeUpdate.value)" >
            <fieldset>
              <!-- Name -->
              <div class="col-md-12 content">
                <div class="col-md-6 form-group col-md-offset-2">
                  <div class="control-group">
                    <label class="control-label"  for="firts_name">Firts Name</label>
                    <div class="controls">
                      <input type="text" id="firts_name"  minlength="4" required name="firts_name" placeholder="" class="input-xlarge" [(ngModel)]="employees.firts_name">
                      <div *ngIf="firtsnameRef.errors && (firtsnameRef.dirty || firtsnameRef.touched ) "  class="alert alert-danger">
                        <div [hidden]="!firtsnameRef.errors.required" >
                          Please enter a Name.
                        </div>
                        <div [hidden]="!firtsnameRef.errors.minlength" >
                          Please enter atleast 4 characters.
                        </div>
                      </div>

                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label"  for="last_name">Last name</label>
                    <div class="controls">
                      <input type="text" id="last_name" #lastnameRef="ngModel" name="last_name" required  placeholder="" class="input-xlarge" [(ngModel)]="employees.last_name">
                      <div [hidden]="lastnameRef.valid || lastnameRef.pristine" class="alert alert-danger">
                        Please enter a Last name.
                      </div>
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label"  for="restaurant">Restaurant / Store </label>
                    <div class="controls">
                      <select #restaurantdRef="ngModel" name="restaurant" name="restaurant" required [(ngModel)]="employees.restaurant">
                        <option *ngFor="let item of restaurant | async" value="{{item.store}}">{{item.store}}</option>
                      </select>
                    </div>
                  </div>

                  <div class="control-group">
                    <label class="control-label"  for="ssn">SSN</label>
                    <div class="controls">
                      <input type="text" id="ssn" #ssnRef="ngModel" name="ssn" required placeholder="" class="input-xlarge" [(ngModel)]="employees.ssn" disabled>
                      <div [hidden]="ssnRef.valid || ssnRef.pristine" class="alert alert-danger">
                        Please enter a SSN.
                      </div>
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label"  for="phone">Phone</label>
                    <div class="controls">
                      <input type="text" id="phone" #phoneRef="ngModel" name="phone" required placeholder="" class="input-xlarge" [(ngModel)]="employees.phone">
                      <div [hidden]="phoneRef.valid || phoneRef.pristine" class="alert alert-danger">
                        Please enter a  Phone Number.
                      </div>
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label"  for="birth_day">Date of Birth</label>
                    <div class="controls">
                      <input type="text" id="birth_day" #birthDayRef="ngModel" name="birth_day" required placeholder="" class="input-xlarge" [(ngModel)]="employees.birth_day">
                      <div [hidden]="birthDayRef.valid || birthDayRef.pristine" class="alert alert-danger">
                        Please enter a Date of Birth.
                      </div>
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label"  for="race">Race</label>
                    <div class="controls">
                      <input type="text" id="race" #raceRef="ngModel" name="race" required placeholder="" class="input-xlarge"  [(ngModel)]="employees.race" >
                      <div [hidden]="raceRef.valid || raceRef.pristine" class="alert alert-danger">
                        Please enter a Race.
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-6 form-group">
                  <div class="control-group">
                    <label class="control-label"  for="gender">Gender</label>
                    <div class="controls">
                      <!--input type="text" id="phone" #cellphoneRef="ngModel" name="cellphone" required placeholder="" class="input-xlarge" ngModel-->
                      <select #genderRef="ngModel" name="gender" name="gender" required [(ngModel)]="employees.gender">
                        <option value="1">M</option>
                        <option value="2">F</option>
                      </select>
                      <div [hidden]="genderRef.valid || genderRef.pristine" class="alert alert-danger">
                        Please select a Gender.
                      </div>
                    </div>
                  </div>


                  <div class="control-group">
                    <label class="control-label"  for="status">Relationship Status</label>
                    <div class="controls">
                      <!--input type="text" id="phone" #cellphoneRef="ngModel" name="cellphone" required placeholder="" class="input-xlarge" ngModel-->
                      <select  #statusRef="ngModel" name="ralationship_status" required  [(ngModel)]="employees.relationship_status">
                        <option value="1">Single</option>
                        <option value="2">Married</option>
                        <option value="3">Divorced</option>
                      </select>
                      <div [hidden]="statusRef.valid || statusRef.pristine" class="alert alert-danger">
                        Please enter a Status.
                      </div>
                    </div>
                  </div>


                  <div class="control-group">
                    <label class="control-label"  for="allowances">Number of Allowances</label>
                    <div class="controls">
                      <input type="number" id="allowances" #allowancesRef="ngModel" name="number_allowances" required placeholder="" class="input-xlarge" [(ngModel)]="employees.number_allowances">

                      <div [hidden]="allowancesRef.valid || allowancesRef.pristine" class="alert alert-danger">
                        Please enter Number of Allowances.
                      </div>
                    </div>
                  </div>

                  <div class="control-group">

                    <div class="controls" style="padding-top: 10px;">
                      <button type="submit" [disabled]="!employeeUpdate.valid" class="btn btn-primary">Save changes</button>
                    </div>
                  </div>
                </div>
              </div>

            </fieldset>

          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default"    data-dismiss="modal" #closeBtn >Close</button>

        </div>
      </div>
    </div>
  </div>
  <!-- ./ -->

  <!--Modal Edit Administrative data Employee -->
  <button data-toggle="modal" data-target="#administrativeDataEmployee" id="btnadministrativeDataEmployee" class="hidden" ></button>
  <div class="modal fade" tabindex="-1" role="dialog" id="administrativeDataEmployee">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Edit Administrative Data</h4>
        </div>
        <div class="modal-body">
          <h2>{{employees.firts_name}} {{employees.last_name}}</h2>
          <form  #employeAdminData="ngForm" (submit)="updateAdminData(employeAdminData.value)">

              <div class="control-group">
                <label class="control-label"  for="phone">Dependant Medical Coverage</label>
                <div class="controls">

                  <select #medicalCoverageRef="ngModel" name="medical_coverage" name="medical_coverage" required [(ngModel)]="employees.medical_coverage">
                    <option value="1">Yes</option>
                    <option value="2">No</option>
                  </select>
                  <div [hidden]="medicalCoverageRef.valid || medicalCoverageRef.pristine" class="alert alert-danger">
                    Please select a Dependant Medical Coverage.
                  </div>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label"  for="salary">Salary</label>
                <div class="controls">
                  <input type="text" id="salary" #salaryRef="ngModel" name="salary" required  class="input-xlarge"  [(ngModel)]="employees.salary">

                  <div [hidden]="salaryRef.valid || salaryRef.pristine" class="alert alert-danger">
                    Please enter a Salary.
                  </div>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label"  for="pay_frecuency">Pay Frequency</label>
                <div class="controls">
                  <input type="text" id="pay_frecuency" #payFrecuencyRef="ngModel" name="pay_frecuency" required placeholder="" class="input-xlarge" [(ngModel)]="employees.pay_frecuency">
                  <div [hidden]="payFrecuencyRef.valid || payFrecuencyRef.pristine" class="alert alert-danger">
                    Please enter a Pay Frequency.
                  </div>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label"  for="source_hire">Source of Hire</label>
                <div class="controls">

                  <select #sourceHireRef="ngModel" name="source_hire"  required   [(ngModel)]="employees.source_hire">
                    <option  *ngFor="let item of sourceHire | async"  [disabled]="item.source_name == employees.source_name" value="{{item.source_name}}">{{item.source_name}}</option>
                  </select>

                  <div [hidden]="sourceHireRef.valid || sourceHireRef.pristine" class="alert alert-danger">
                    Please enter a Source of Hire.
                  </div>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label"  for="job_position">Job Position</label>
                <div class="controls">

                  <select #jobPositionRef="ngModel" name="job_position"  required ngModel [(ngModel)]="employees.job_position">
                    <option  *ngFor="let item of jobPosition | async"  value="{{item.job_name}}">{{item.job_name}}</option>
                  </select>

                  <div [hidden]="jobPositionRef.valid || jobPositionRef.pristine" class="alert alert-danger">
                    Please enter a Source of Hire.
                  </div>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label"  for="start_work">Start Work</label>
                <div class="controls">
                  <input type="date" id="start_work" #startWorkRef="ngModel" name="start_work" required  class="input-xlarge"  [(ngModel)]="employees.start_work">

                  <div [hidden]="startWorkRef.valid || startWorkRef.pristine" class="alert alert-danger">
                    Please enter a Start Work.
                  </div>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label"  for="end_work">Finish Work</label>
                <div class="controls">
                  <input type="date" id="end_work" #endWorkRef="ngModel" name="end_work" required  class="input-xlarge"  [(ngModel)]="employees.end_work">

                  <div [hidden]="endWorkRef.valid || endWorkRef.pristine" class="alert alert-danger">
                    Please enter a End Work.
                  </div>
                </div>
              </div>
            <div class="control-group">
              <label class="control-label"  for="employee_status">Employee Status</label>
              <div class="controls">
                <!--input type="text" id="phone" #cellphoneRef="ngModel" name="cellphone" required placeholder="" class="input-xlarge" ngModel-->
                <select  #employeeStatusRef="ngModel" name="employee_status" required [(ngModel)]="employees.employee_status">
                  <option value="1">Active</option>
                  <option value="2">Inactive</option>
                  <option value="3">Other</option>
                </select>
                <div [hidden]="employeeStatusRef.valid || employeeStatusRef.pristine" class="alert alert-danger">
                  Please enter a Employee Status.
                </div>
              </div>
            </div>

                <button type="submit"  [disabled]="!employeAdminData.valid" class="btn btn-primary">Save changes</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  <!-- ./-->




  <app-absence-employee
    [firts_name]="employees.firts_name"
    [last_name]="employees.last_name"
    [id_employee]="employees.id_employee"
  ></app-absence-employee>

  <app-termination-work-employee
    [firts_name]="employees.firts_name"
    [last_name]="employees.last_name"
    [id_employee]="employees.id_employee"
  ></app-termination-work-employee>

  <app-re-auth-user  [fromAction]="fromAction"  ></app-re-auth-user>












</div>
