
<div class="col-md-10 content">

  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table">
        <thead>
        <tr>
          <th>First name</th>
          <th>Last name</th>
          <th>Start Work</th>
          <th>End Wor</th>
          <th>Phone</th>
          <th>Date of birth</th>
          <th>Race</th>
          <th>Gender</th>
          <th>Dependant medical coverage</th>
          <th>Pay frecuency</th>
          <th>Status</th>
          <th>Number of allowances</th>
          <th>Additional witheld</th>
          <th>Source of hire</th>
          <th>Rol</th>
          <th>Edit</th>

        </tr>
        </thead>
        <tbody>
        <tr  *ngFor="let item of employee | async | employeeSearch: search"   id="">
          <td>{{item.firts_name}}</td>
          <td>{{item.last_name}}</td>
          <td>{{item.restaurant}}
          </td>
          <td>{{item.ssn}}</td>
          <td>{{item.phone}}</td>
          <td>{{item.birth_day}}</td>
          <td>{{item.race}}</td>
          <td >
            <div [ngSwitch]="item.gender">
              <p *ngSwitchCase="1">Men</p>
              <p *ngSwitchCase="2">Women</p>
            </div>
          </td>
          <td>
            <div [ngSwitch]="item.medical_coverage">
              <p class="label label-success" *ngSwitchCase="1">Si</p>
              <p class="label label-danger" *ngSwitchCase="2">No</p>
            </div>
          </td>
          <td>{{item.pay_frecuency}}</td>
          <td>
            <div [ngSwitch]="item.status">
              <p class="label label-success" *ngSwitchCase="1">Active</p>
              <p *ngSwitchCase="2">Disable</p>
            </div>
          </td>
          <td>{{item.number_allowances}}</td>
          <td>{{item.withheld}}</td>
          <td>{{item.source_hire}}</td>
          <td><p class="label label-success">{{item.rol}}<p></td>
          <td><button  (click)="editEmployee(item.$key)" class="btn btn-primary" data-toggle="modal" data-target="#editEmployee">Edit</button></td>


        </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
