<div class="col-md-10 content">
  <!-- Form ModAL Create Rol -->
  <button type="button"
          type="button"
          class="btn btn-primary"
          data-toggle="modal"
          data-target="#addStore"  >
          Add Store
  </button>
  <!-- Modal Create Store -->
  <div class="modal fade" id="addStore" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Add Race</h4>
        </div>
        <div class="modal-body">
          <form [formGroup]="formStore" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="name">Name</label>
              <i class="fa fa-check-circle check"  *ngIf="formStore.controls.name.valid"></i>
              <i class="fa fa-exclamation-circle uncheck"  *ngIf="formStore.controls.name.invalid && formStore.controls.name.touched "></i>
              <input type="text"
                     class="form-control"
                     id="name"
                     formControlName="name">
              <p class="alert alert-danger"
                 *ngIf="formStore.controls.name.invalid && formStore.controls.name.touched ">
                 El campo name es obligatorio
              </p>
            </div>
            <div class="form-group">
              <label for="address">Address</label>
              <i class="fa fa-check-circle check"  *ngIf="formStore.controls.address.valid"></i>
              <i class="fa fa-exclamation-circle uncheck"  *ngIf="formStore.controls.address.invalid && formStore.controls.address.touched "></i>
              <input type="text"
                     class="form-control"
                     id="address"
                     formControlName="address">
              <p class="alert alert-danger"
                 *ngIf="formStore.controls.address.invalid && formStore.controls.address.touched ">
                El campo address es obligatorio
              </p>
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <i class="fa fa-check-circle check"  *ngIf="formStore.controls.email.valid"></i>
              <i class="fa fa-exclamation-circle uncheck"  *ngIf="formStore.controls.email.invalid && formStore.controls.email.touched "></i>
              <input type="email"
                     class="form-control"
                     id="email"
                     formControlName="email">
              <p class="alert alert-danger"
                 *ngIf="formStore.controls.email.invalid && formStore.controls.email.touched ">
                El campo email es obligatorio
              </p>
            </div>
            <div class="form-group">
              <label for="phone">Phone</label>
              <i class="fa fa-check-circle check"  *ngIf="formStore.controls.phone.valid"></i>
              <i class="fa fa-exclamation-circle uncheck"  *ngIf="formStore.controls.phone.invalid && formStore.controls.phone.touched "></i>
              <input type="text"
                     class="form-control"
                     id="phone"
                     formControlName="phone">
              <p class="alert alert-danger"
                 *ngIf="formStore.controls.phone.invalid && formStore.controls.phone.touched ">
                El campo Phone es obligatorio
              </p>
            </div>
            <div class="form-group">
              <label for="admin_name">Admin</label>
              <i class="fa fa-check-circle check"  *ngIf="formStore.controls.admin_name.valid"></i>
              <i class="fa fa-exclamation-circle uncheck"  *ngIf="formStore.controls.admin_name.invalid && formStore.controls.admin_name.touched "></i>
              <input type="text"
                     class="form-control"
                     id="admin_name"
                     formControlName="admin_name">
              <p class="alert alert-danger"
                 *ngIf="formStore.controls.admin_name.invalid && formStore.controls.admin_name.touched ">
                El campo admin es obligatorio
              </p>
            </div>
            <div class="form-group">
              <label for="city">City</label>
              <i class="fa fa-check-circle check"  *ngIf="formStore.controls.city.valid"></i>
              <i class="fa fa-exclamation-circle uncheck"  *ngIf="formStore.controls.city.invalid && formStore.controls.city.touched "></i>
              <input type="text"
                     class="form-control"
                     id="city"
                     formControlName="city">
              <p class="alert alert-danger"
                 *ngIf="formStore.controls.city.invalid && formStore.controls.city.touched ">
                El campo city es obligatorio
              </p>
            </div>
            <div class="form group">
              <label for="status">Status</label>
              <i class="fa fa-check-circle check"  *ngIf="formStore.controls.status.valid"></i>
              <i class="fa fa-exclamation-circle uncheck"  *ngIf="formStore.controls.status.invalid && formStore.controls.status.touched "></i>
              <select
                class="form-control"
                id="status"
                formControlName="status">
                <option value="">Select... <option>
                <option value="0">Active<option>
                <option value="1">Disable<option>
              </select>
              <p class="alert alert-danger"
                 *ngIf="formStore.controls.status.invalid && formStore.controls.status.touched ">
                El campo status es obligatorio
              </p>
            </div>

            <button type="submit"
                    class="btn btn-primary"
                    [disabled]="!formStore.valid"  >
                    Save
            </button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default"    data-dismiss="modal">Close</button>

        </div>
      </div>
    </div>
  </div>
  <!-- ./ -->

  <!--  show list restaurant -->
  <div class="table-responsive">
    <table class="table">
      <thead>
      <tr>
        <th>Name </th>
        <th>City</th>
        <th>Address</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Admin</th>
        <th>Status</th>
        <th>Edit</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of store | async" id="">
        <td ><p>{{ item.name }}</p></td>
        <td><p >{{ item.city }}</p></td>
        <td><p >{{ item.address }}</p></td>
        <td><p >{{ item.phone }}</p></td>
        <td><p >{{ item.email }}</p></td>
        <td><p >{{ item.admin_name }}</p></td>
        <td>
          <div [ngSwitch]="item.status">
            <p class="label label-success" *ngSwitchCase="0">Active</p>
            <p class="label label-danger"*ngSwitchCase="1">Disable</p>
            <p *ngSwitchCase="3">Other</p>
          </div>
        </td>
        <td>
            <button  (click)="editStore(item.$key)"
                     class="btn btn-primary"
                     data-toggle="modal"
                     data-target="#editStore">
              Edit
            </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>



  <!-- Modal Edit Store -->
  <div class="modal fade" id="editStore" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Edit Store</h4>
        </div>
        <div class="modal-body">
          <form #storeForm="ngForm" (ngSubmit)="onUpdateStore(storeForm.value)">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text"
                     class="form-control"
                     id="name"
                     name="name"
                     #nameRef="ngModel"
                     [(ngModel)]="storeObject.name">
              <div [hidden]="nameRef.valid || nameRef.pristine" class="alert alert-danger">
                  Please enter a Name Store.
              </div>
            </div>
            <div class="form-group">
              <label for="address">Address</label>
              <input type="text"
                     class="form-control"
                     id="address"
                     name="address"
                     #addressRef="ngModel"
                     [(ngModel)]="storeObject.address">
              <div [hidden]="addressRef.valid || addressRef.pristine" class="alert alert-danger">
                Please enter a Address Store.
              </div>
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email"
                     class="form-control"
                     id="email"
                     name="email"
                     #emailRef="ngModel"
                     [(ngModel)]="storeObject.email">
              <div [hidden]="emailRef.valid || emailRef.pristine" class="alert alert-danger">
                Please enter a Email Store.
              </div>
            </div>
            <div class="form-group">
              <label for="phone">Phone</label>
              <input type="text"
                     class="form-control"
                     id="phone"
                     name="phone"
                     #phoneRef="ngModel"
                     [(ngModel)]="storeObject.phone">
              <div [hidden]="phoneRef.valid || phoneRef.pristine" class="alert alert-danger">
                Please enter a Phone Store.
              </div>
            </div>
            <div class="form-group">
              <label for="admin_name">Admin</label>
              <input type="text"
                     class="form-control"
                     id="admin_name"
                     #adminNameRef="ngModel"
                     name="admin_name"
                     [(ngModel)]="storeObject.admin_name">
              <div [hidden]="adminNameRef.valid || adminNameRef.pristine" class="alert alert-danger">
                Please enter a Admin Name.
              </div>
            </div>
            <div class="form-group">
              <label for="city">City</label>
              <input type="text"
                     class="form-control"
                     id="city"
                     name="city"
                     #cityRef="ngModel"
                     [(ngModel)]="storeObject.city">
              <div [hidden]="cityRef.valid || cityRef.pristine" class="alert alert-danger">
                  Please enter a City Store.
              </div>
            </div>
            <div class="form group">
              <label for="status">Status</label>
              <select
                class="form-control"
                id="status"
                name="status"
                [(ngModel)]="storeObject.status">
                <option value="">Select... <option>
                <option value="0">Active<option>
                <option value="1">Disable<option>
              </select>
              <p class="alert alert-danger"
                 *ngIf="formStore.controls.status.invalid && formStore.controls.status.touched ">
                El campo status es obligatorio
              </p>
            </div>

            <button type="submit"
                    class="btn btn-primary"
                    [disabled]="!storeForm.valid"  >
              Save
            </button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default"  #btnClose  data-dismiss="modal">Close</button>

        </div>
      </div>
    </div>
  </div>
  <!-- ./ -->


</div>
