	<!--div class="container-fluid main-container"-->
		<div class="col-md-2 sidebar">
			<ul class="nav nav-pills nav-stacked" [ngSwitch]="user">
				  <li class="active"><a href="#" >Dashboard</a></li>
            <li [ngClass]="{'active': currentUrl == '/home'}"><a routerLink="home"routerLinkActive="active">Home</a></li>
            <li *ngSwitchCase="1">
               <ul class="nav nav-pills nav-stacked">
                 <li><a routerLink="addrestaurant" routerLinkActive="active">Add Restaurant</a></li>
                 <li><a routerLink="adduser"routerLinkActive="active">Add User</a></li>
               </ul>
            </li>
            <li *ngSwitchCase="2">
            <ul class="nav nav-pills nav-stacked">

                  <li [ngClass]="{'active': currentUrl == 'manageEmployee'}" class="dropdown" dropdown><a dropdown-open>Manage Employee</a>
                    <ul class="nav nav-pills nav-stacked dropdown-menu">
                        <li [ngClass]="{'active': currentUrl == '/addemployee'}"><a routerLink="addemployee"routerLinkActive="active">Add Employee</a></li>
                        <li [ngClass]="{'active': currentUrl == 'manageEmployee/absences'}"><a routerLink="manageEmployee/absences" routerLinkActive="active">Add Absence</a></li>
                        <li [ngClass]="{'active': currentUrl == 'manageEmployee/recruitingEmployee'}"><a routerLink="manageEmployee/recruitingEmployee"routerLinkActive="active">recruiting employee</a></li>
                        <li [ngClass]="{'active': currentUrl == 'manageEmployee/vacationEmployee'}"><a routerLink="manageEmployee/vacationEmployee"routerLinkActive="active">vacation Employee</a></li>
                    </ul>
                  </li>
                  <li class="dropdown" dropdown><a dropdown-open>Settings</a>
                    <ul class="nav nav-pills nav-stacked dropdown-menu">
                        <li [ngClass]="{'active': currentUrl == '/rol'}"><a routerLink="settings/rol"routerLinkActive="active">Add Roll</a></li>
                        <li [ngClass]="{'active': currentUrl == '/rol'}"><a routerLink="settings/payment"routerLinkActive="active">Add Payment</a></li>
                        <li [ngClass]="{'active': currentUrl == '/rol'}"><a routerLink="settings/race"routerLinkActive="active">Add Race</a></li>
                        <li [ngClass]="{'active': currentUrl == '/rol'}"><a routerLink="settings/jobPosition"routerLinkActive="active">Add Job Position</a></li>
                        <li [ngClass]="{'active': currentUrl == '/rol'}"><a routerLink="settings/absence"routerLinkActive="active">Add Leave o Absence</a></li>
                    </ul>
                  </li>

              </ul>
            </li>

			</ul>
		</div>






