<div class="col-md-10 content">

    <div class="col-md-5">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-3">
              <i class="fa fa-comments fa-5x"></i>
            </div>
            <div class="col-xs-9 text-right">
              <div class="huge">{{huge.huge_one}}</div>
              <div>{{employeCount}}</div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="col-md-5">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-3">
              <i class="fa fa-comments fa-5x"></i>
            </div>
            <div class="col-xs-9 text-right">
              <div class="huge">{{huge.huge_two}}</div>
              <div>{{countAbsence}}</div>
            </div>
          </div>
        </div>

      </div>
    </div>

</div>
